.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 2rem 0;
  font-weight: bold;
}
.about-main-left > img {
  padding-left: 4rem;
  width: 400px;
}
.about-main-right {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  width: 70%;
  flex-direction: column;
}

.about-main-right > button {
  box-shadow: var(--box-shadow);
  width: 30%;
}
.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  margin: 5rem 0;
}
.mission-card {
  display: flex;

  margin: 3rem 0;
  gap: 5rem;
}
.card-mission-title {
  color: var(--main-color);
}
.card-mission-flex {
  display: flex;
  flex-direction: column;

  padding: 0.5rem 1rem;
  font-weight: bold;
  /* background-color: red; */
}
.about-person {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.person-3d {
  display: flex;
  align-items: center;
  /* background-color: red; */
  padding-right: 2rem;
}
.person-3d-left > img {
  width: 350px;
}

.person-3d-contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--main-color);
}
.person-3d-contact > span:hover {
  color: dodgerblue;
}
.person-3d-contact > span > a:hover {
  color: dodgerblue;
}
.person-3d-right > h3 {
  font-weight: bold;
}
.about-person {
  display: flex;
  justify-content: space-between;
  margin: 5rem 1rem;
  gap: 0.5rem;
}
