@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fontsize-large: 40px;
  --fontsize-medium: 30px;
  --fontsize-small: 20px;
  --box-shadow: 0 0 10px 10px lightgray;
  --main-color: rgb(109, 196, 109);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 247, 247);
}
.navbar > img {
  width: 70px;
}
.nav-details,
a {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  text-decoration: none;
  color: gray;
  font-size: var(--fontsize-small);
  font-weight: bold;
  padding-top: 0.5rem;
}

a:hover {
  color: black;
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.nav-btn > button {
  box-shadow: var(--box-shadow);
}
.menu-icon {
  display: none;
}
.main {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
.main-details > p:first-child {
  font-size: 50px;
  color: var(--main-color);
}
.main > img {
  width: 500px;
}
.main-btn {
  display: flex;
  gap: 1rem;
  margin-top: 6rem;
}
.main-btn > button {
  box-shadow: var(--box-shadow);
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5.5rem 0;
}

.step > h1 > span {
  color: var(--main-color);
  font-weight: bold;
}
.more-step {
  display: flex;
  gap: 4rem;
  margin-top: 6rem;
}
.card-step {
  border: none;
  box-shadow: 2px 0 30px 2px gray;
  padding: 3rem;
  border-radius: 10px;
}
.card-step:hover {
  box-shadow: 0 0 50px 20px white;
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
.step-img {
  animation: zoom 1s ease-in-out infinite;
  margin: 2rem 0;
}
.step-title {
  font-size: 30px;
  color: var(--main-color);
  font-weight: bold;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .navbar,
  .main,
  .step,
  .card-step {
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  .main > img {
    width: 300px;
    margin: 2rem 1rem;
  }
  .card-step {
    width: 400px !important;
  }
  .more-step {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media screen and (max-width: 390px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
  }
  .navbar,
  .main,
  .card-step,
  .step {
    flex-wrap: wrap;
  }
  .nav-details {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .nav-btn {
    display: flex;
  }
  .menu-icon {
    display: flex;
  }
  .main {
    margin: 2rem;
  }
  .main > img {
    width: 300px;
    margin: 2rem 0;
  }
  .nav-btn {
    flex-direction: column-reverse;
  }
  .step > h1 {
    padding: 0 2rem;
  }
  .card-step {
    width: 200px !important;
  }
  .more-step {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
